:root {
  --Primary-100: 7 99% 70%;
  --Primary-200: 51 100% 49%;
  --Primary-300: 167 40% 24%;
  --Primary-400: 198 62% 26%;
  --Primary-500: 168 34% 41%;

  --Neutral-100: 212 27% 19%;
  --Neutral-200: 213 9% 39%;
  --Neutral-300: 232 10% 55%;
  --Neutral-400: 210 4% 67%;
  --Neutral-500: 0 0% 100%;

  // color:
}
